h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}
p, li, blockquote {
  font-family: "Nunito", sans-serif;
}
.icon-home:before {
  content: none;
}
.rst-content a {
  color: #0f6460;
}
.rst-content a:hover {
  color: #00a398;
}
.rst-content a:visited {
  color: #a23737;
}
.rst-versions .rst-current-version {
  background-color: #a23737 !important;
  font-family: "Nunito", sans-serif !important;
  color: #fff !important;
  border-top: 1px solid #fff;
}
.rst-versions .rst-current-version .fa {
  text-align: left !important;
}
.rst-versions .rst-other-versions {
  color: #f7bbb1 !important;
  background-color: #a23737 !important;
}
.rst-versions a {
  text-align: right !important;
  color: #fff !important;
  text-decoration: underline !important;
}
.wy-table-responsive > table > tbody > tr > td {
  white-space: initial;
}
.wy-nav-side {
  background: #a23737;
}
.wy-nav-content {
  color: #1b1b1b;
}
.wy-menu-vertical p.caption {
  color: #fff;
  margin-top: 1.618em;
}
.wy-menu-vertical li.current a {
  background: #a23737;
  color: #fff;  
}
.wy-menu-vertical li.current>a span.toctree-expand {
    color: #fff;
    display: none;
}
.wy-menu-vertical li.current a:hover {
  background: #d83933;
}
.wy-menu-vertical li a:hover {
  background: #d83933;
}
.wy-menu-vertical li.toctree-l2.current>a {
  background: #d83933;
}
.wy-menu-vertical a {
  color: #f5f5f0;
}
.wy-menu-vertical {
  font-weight: normal;
}
.wy-side-nav-search {
  background-color: #a23737;
}
.wy-side-nav-search>div.version {
  color: #fff7f6;
}
.wy-side-scroll {
  height: 100vh;
  padding-bottom: 5rem;
}

