h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}
p, li, blockquote {
  font-family: 'Nunito', sans-serif;
}
.rst-versions .rst-current-version {
  background-color: #d83933;
}
.wy-nav-side {
  background: #a23737;
}
.wy-nav-content {
  color: #1b1b1b;
}
/*.wy-nav-content a,
.wy-nav-content a:visited {
  color: #a23737;
}*/
.wy-menu-vertical p.caption {
  color: #ffffff;
  margin-top: 1.618em;
}
.wy-menu-vertical li.current a {
  background: #ffffff;
}
.wy-menu-vertical li.current a:hover {
  background: #f8e1de;
}
.wy-menu-vertical li a:hover {
  background: #f8e1de;
  color: #a23737;
}
.wy-side-nav-search {
  background-color: #a23737;
}
.wy-side-nav-search>div.version {
  color: #fff7f6;
}

